# Cấu hình cổng chạy ứng dụng
PORT=5000
NODE_ENV=development

# Chuỗi kết nối Database MySQL cho Prisma
# Định dạng: mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="mysql://root:password@localhost:3306/messenger_db"

# Cấu hình bảo mật JWT
JWT_SECRET=messenger-super-secret-key-2026
JWT_EXPIRES_IN=7d
